<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey!! , <%= @user.email %></h1>
    <p>
      Your Account is deleted because of suspicisous acitivies.
    </p>
    <p>Please Ensure the aunthecity of your account!</p>
  </body>
</html>